.mainpage {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  width: 200px;
}

.List {
  font-size: 20px;
  list-style-type: none;
  margin-block: 30px;
  line-height: 30px;
}

.panel {
  display: flex;
  flex-direction: row;
  height: 100vw;
}

.add {
  font-size: 16px;
  padding: 0;
  font-weight: 600;
  background-color: whitesmoke;
  width: 120px;
  height: 50px;
}
.navsep {
  margin: 0;
  border: none;
  width: 1px;
  background-color: #cc241d;
}

.todosep {
  margin: 0;
  border: none;
  height: 1px;
  width: 100%px;
  background-color: #cc241d;
  margin-top: 10px;
  margin-bottom: 31.4px;
}

.todo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
